!!!
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/navigation.css')
    link(rel='stylesheet', href='/stylesheets/page.css')
    script(type='text/javascript', src='/javascripts/jquery-1.7.2.js')
    script(type='text/javascript', src='/javascripts/jquery.form.js')
    script(type='text/javascript', src='/javascripts/main.js')
  body
    .nav-wrap
      #masthead
        #masthead-logo
          a(href='/')
            img(src='/images/logo.png', alt='websites logo')
        #masthead-nav
          form(id='site-wide-search', action='/search', method='get')
            input(placeholder='输入关键字', name='name')
            button(type='submit') 搜索
          p#account-service
            if typeof user !== 'undefined'
              a(href='/user') 管理我的信息
              a(href='/request/show') 订单请求
              a(href='/trade/show') 已完成订单
              a(href='/books') 我的书摊
              a(href='/table/show') 盈利统计
              a.exit(href='/user/exit') 退出
            else
              a(href='/user/login') 登录/注册
            a.shopbaglink(href='/cart/show') 购物包
      #top-nav
        ul
          li
            a(href='/category/fiction') 小说
          li
            a(href='/category/pop') 流行
          li
            a(href='/category/culture') 文化
          li
            a(href='/category/life') 生活
          li
            a(href='/category/eco') 经管
          li
            a(href='/category/tech') 科技
    .page-wrap
      if typeof errInfo !== 'undefined'
        .errInfo= errInfo
      if typeof msgInfo !== 'undefined'
        .msgInfo= msgInfo
      !=body
