!!!
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/navigation.css')
    link(rel='stylesheet', href='/stylesheets/page.css')
  body
    .nav-wrap
      #masthead
        #masthead-logo
          a(href='/')
            img(src='/images/logo.png', alt='websites logo')
        #masthead-nav
          form(id='site-wide-search', action='')
            input(placeholder='输入关键字')
            button(type='submit') 搜索
          p#account-service
            if typeof user !== 'undefined'
              a(href='/user') 管理我的信息
              a(href='/books') 我的书摊
              a.exit(href='/user/exit') 退出
            else
              a(href='/user/login') 登录/注册
            a.shopbaglink(href='/shopbag') 购物包
      #top-nav
        ul
           li
             a 测试分类1
           li
             a 测试分类2
           li
             a 测试分类3
    .page-wrap
      if typeof errInfo !== 'undefined'
        .errInfo= errInfo
      if typeof msgInfo !== 'undefined'
        .msgInfo= msgInfo
      !=body
