@page_width: 500px;
@div_padding: 5px;

.sign-in, .create-account{
    width: @page_width/4*3;
    float: left;
    margin-right: @page_width/4;
    label, input{
        display: block;
        margin: 10px 0 10px 0;
        font-size: 1.2em;
    }
    input{
        width: @page_width/4*3;
        height: 20px;
    }
}
.errInfo{
    color: red;
    font-size: 1.2em;
}
.msgInfo{
    color: yellow;
    font-size: 1.2em;
}
.hide{
    display: none;
}
