for book in books
  h1 图书信息
  h2 书名
  a(href='/books/' + book._id)= book.bookname
  h2 描述
  p= book.bookdesc
  h2 分类
  p= book.bookclass
  h2 数量
  p= book.bookcount
  a(href='/books/' + book._id + '/edit') 修改
